<nav class="navbar navbar-default navbar-fixed top">
<div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="/">Cities</a>
    </div>
    <div class="navbar-collapse collapse"> 
    <ul class="nav navbar-nav">
      <li><a href="/mumbai">MUMBAI</a></li>
      <li><a href="/bangalore">BANGALORE</a></li>
      <li><a href="/delhi">DELHI</a></li>
    </ul>
    </div>
  </div>
</nav>